.ff-osans{font-family: 'Open Sans', 'Sans Serif' !important;}
.ff-montserrat{font-family: 'Montserrat', 'Open Sans', 'Sans Serif' !important;}
.fs-italic{font-style: italic !important;}
.fs-normal{font-style: normal !important;}
.fw-400{font-weight: 400 !important;}
.fw-600{font-weight: 600 !important;}
.fw-700{font-weight: 700 !important;}
.ps-relative{position: relative !important;}
.ps-absolute{position: absolute !important;}
.ps-fixed{position: fixed !important;}
.ta-left{text-align: left !important;}
.ta-right{text-align: right !important;}
.ta-center{text-align: center !important;}
.fl-left{float: left !important;}
.fl-right{float: right !important;}
.tt-uppercase{text-transform: uppercase !important;}
.tt-capitalize{text-transform: capitalize !important;}
.tt-lowercase{text-transform: lowercase !important;}
.td-none{text-decoration: none !important;}
.td-underline{text-decoration: underline !important;}
.td-underline-h:hover{text-decoration: underline !important;}
.td-line-through{text-decoration: line-through !important;}
.td-line-through-h:hover{text-decoration: line-through !important;}
.ds-none{display: none !important;}
.ds-inline-block{display: inline-block !important;}
.ds-block{display: block !important;}
.ds-inline-block{display: inline-block !important;}
.vs-hidden{visibility: hidden !important;}
.vs-visible{visibility: visible !important;}
.of-hidden{overflow: hidden !important;}

.v-align-0{vertical-align: 0 !important;}
.v-align-1{vertical-align: 1px !important;}
.v-align-2{vertical-align: 2px !important;}
.v-align-3{vertical-align: 3px !important;}
.v-align-4{vertical-align: 4px !important;}
.v-align-5{vertical-align: 5px !important;}
.v-align-m1{vertical-align: -1px !important;}
.v-align-m2{vertical-align: -2px !important;}
.v-align-m3{vertical-align: -3px !important;}
.v-align-m4{vertical-align: -4px !important;}
.v-align-m5{vertical-align: -5px !important;}

.fs-10{font-size: 10px !important;}
.fs-11{font-size: 11px !important;}
.fs-12{font-size: 12px !important;}
.fs-13{font-size: 13px !important;}
.fs-14{font-size: 14px !important;}
.fs-15{font-size: 15px !important;}
.fs-16{font-size: 16px !important;}
.fs-18{font-size: 18px !important;}
.fs-20{font-size: 20px !important;}
.fs-22{font-size: 22px !important;}
.fs-24{font-size: 24px !important;}
.fs-28{font-size: 28px !important;}
.fs-32{font-size: 32px !important;}
.fs-36{font-size: 36px !important;}
.fs-42{font-size: 42px !important;}
.fs-48{font-size: 48px !important;}
.fs-56{font-size: 56px !important;}
.fs-64{font-size: 64px !important;}
.fs-72{font-size: 72px !important;}
.fs-84{font-size: 84px !important;}
.fs-96{font-size: 96px !important;}

.ls-0{letter-spacing: 0 !important;}
.ls-1{letter-spacing: 1px !important;}
.ls-2{letter-spacing: 2px !important;}
.ls-3{letter-spacing: 3px !important;}
.ls-5{letter-spacing: 5px !important;}
.ls-10{letter-spacing: 10px !important;}
.ls-15{letter-spacing: 15px !important;}
.ls-20{letter-spacing: 20px !important;}
.ls-25{letter-spacing: 25px !important;}

.lh-10{line-height: 1 !important;}
.lh-11{line-height: 1.1 !important;}
.lh-12{line-height: 1.2 !important;}
.lh-13{line-height: 1.3 !important;}
.lh-14{line-height: 1.4 !important;}
.lh-15{line-height: 1.5 !important;}
.lh-16{line-height: 1.6 !important;}
.lh-17{line-height: 1.7 !important;}
.lh-18{line-height: 1.8 !important;}
.lh-19{line-height: 1.9 !important;}
.lh-20{line-height: 2 !important;}

.opct-00{opacity: 0 !important;}
.opct-01{opacity: 0.1 !important;}
.opct-02{opacity: 0.2 !important;}
.opct-03{opacity: 0.3 !important;}
.opct-04{opacity: 0.4 !important;}
.opct-05{opacity: 0.5 !important;}
.opct-06{opacity: 0.6 !important;}
.opct-07{opacity: 0.7 !important;}
.opct-08{opacity: 0.8 !important;}
.opct-09{opacity: 0.9 !important;}
.opct-10{opacity: 1 !important;}

.pd-0{padding: 0 !important;}
.pd-1{padding: 1px !important;}
.pd-2{padding: 2px !important;}
.pd-3{padding: 3px !important;}
.pd-4{padding: 4px !important;}
.pd-5{padding: 5px !important;}
.pd-10{padding: 10px !important;}
.pd-15{padding: 15px !important;}
.pd-20{padding: 20px !important;}
.pd-25{padding: 25px !important;}
.pd-30{padding: 30px !important;}
.pd-35{padding: 35px !important;}
.pd-40{padding: 40px !important;}
.pd-45{padding: 45px !important;}
.pd-50{padding: 50px !important;}
.pd-60{padding: 60px !important;}
.pd-70{padding: 70px !important;}
.pd-80{padding: 80px !important;}
.pd-90{padding: 90px !important;}
.pd-100{padding: 100px !important;}
.pd-110{padding: 110px !important;}
.pd-120{padding: 120px !important;}
.pd-130{padding: 130px !important;}
.pd-140{padding: 140px !important;}
.pd-150{padding: 150px !important;}
.pd-200{padding: 200px !important;}
.pdt-0{padding-top: 0 !important;}
.pdt-1{padding-top: 1px !important;}
.pdt-2{padding-top: 2px !important;}
.pdt-3{padding-top: 3px !important;}
.pdt-4{padding-top: 4px !important;}
.pdt-5{padding-top: 5px !important;}
.pdt-10{padding-top: 10px !important;}
.pdt-15{padding-top: 15px !important;}
.pdt-20{padding-top: 20px !important;}
.pdt-25{padding-top: 25px !important;}
.pdt-30{padding-top: 30px !important;}
.pdt-35{padding-top: 35px !important;}
.pdt-40{padding-top: 40px !important;}
.pdt-45{padding-top: 45px !important;}
.pdt-50{padding-top: 50px !important;}
.pdt-60{padding-top: 60px !important;}
.pdt-70{padding-top: 70px !important;}
.pdt-80{padding-top: 80px !important;}
.pdt-90{padding-top: 90px !important;}
.pdt-100{padding-top: 100px !important;}
.pdt-110{padding-top: 110px !important;}
.pdt-120{padding-top: 120px !important;}
.pdt-130{padding-top: 130px !important;}
.pdt-140{padding-top: 140px !important;}
.pdt-150{padding-top: 150px !important;}
.pdt-200{padding-top: 200px !important;}
.pdr-0{padding-right: 0 !important;}
.pdr-1{padding-right: 1px !important;}
.pdr-2{padding-right: 2px !important;}
.pdr-3{padding-right: 3px !important;}
.pdr-4{padding-right: 4px !important;}
.pdr-5{padding-right: 5px !important;}
.pdr-10{padding-right: 10px !important;}
.pdr-15{padding-right: 15px !important;}
.pdr-20{padding-right: 20px !important;}
.pdr-25{padding-right: 25px !important;}
.pdr-30{padding-right: 30px !important;}
.pdr-35{padding-right: 35px !important;}
.pdr-40{padding-right: 40px !important;}
.pdr-45{padding-right: 45px !important;}
.pdr-50{padding-right: 50px !important;}
.pdr-60{padding-right: 60px !important;}
.pdr-70{padding-right: 70px !important;}
.pdr-80{padding-right: 80px !important;}
.pdr-90{padding-right: 90px !important;}
.pdr-100{padding-right: 100px !important;}
.pdr-110{padding-right: 110px !important;}
.pdr-120{padding-right: 120px !important;}
.pdr-130{padding-right: 130px !important;}
.pdr-140{padding-right: 140px !important;}
.pdr-150{padding-right: 150px !important;}
.pdr-200{padding-right: 200px !important;}
.pdb-0{padding-bottom: 0 !important;}
.pdb-1{padding-bottom: 1px !important;}
.pdb-2{padding-bottom: 2px !important;}
.pdb-3{padding-bottom: 3px !important;}
.pdb-4{padding-bottom: 4px !important;}
.pdb-5{padding-bottom: 5px !important;}
.pdb-10{padding-bottom: 10px !important;}
.pdb-15{padding-bottom: 15px !important;}
.pdb-20{padding-bottom: 20px !important;}
.pdb-25{padding-bottom: 25px !important;}
.pdb-30{padding-bottom: 30px !important;}
.pdb-35{padding-bottom: 35px !important;}
.pdb-40{padding-bottom: 40px !important;}
.pdb-45{padding-bottom: 45px !important;}
.pdb-50{padding-bottom: 50px !important;}
.pdb-60{padding-bottom: 60px !important;}
.pdb-70{padding-bottom: 70px !important;}
.pdb-80{padding-bottom: 80px !important;}
.pdb-90{padding-bottom: 90px !important;}
.pdb-100{padding-bottom: 100px !important;}
.pdb-110{padding-bottom: 110px !important;}
.pdb-120{padding-bottom: 120px !important;}
.pdb-130{padding-bottom: 130px !important;}
.pdb-140{padding-bottom: 140px !important;}
.pdb-150{padding-bottom: 150px !important;}
.pdb-200{padding-bottom: 200px !important;}
.pdl-0{padding-left: 0 !important;}
.pdl-1{padding-left: 1px !important;}
.pdl-2{padding-left: 2px !important;}
.pdl-3{padding-left: 3px !important;}
.pdl-4{padding-left: 4px !important;}
.pdl-5{padding-left: 5px !important;}
.pdl-10{padding-left: 10px !important;}
.pdl-15{padding-left: 15px !important;}
.pdl-20{padding-left: 20px !important;}
.pdl-25{padding-left: 25px !important;}
.pdl-30{padding-left: 30px !important;}
.pdl-35{padding-left: 35px !important;}
.pdl-40{padding-left: 40px !important;}
.pdl-45{padding-left: 45px !important;}
.pdl-50{padding-left: 50px !important;}
.pdl-60{padding-left: 60px !important;}
.pdl-70{padding-left: 70px !important;}
.pdl-80{padding-left: 80px !important;}
.pdl-90{padding-left: 90px !important;}
.pdl-100{padding-left: 100px !important;}
.pdl-110{padding-left: 110px !important;}
.pdl-120{padding-left: 120px !important;}
.pdl-130{padding-left: 130px !important;}
.pdl-140{padding-left: 140px !important;}
.pdl-150{padding-left: 150px !important;}
.pdl-200{padding-left: 200px !important;}

.mg-0{margin: 0 !important;}
.mg-1{margin: 1px !important;}
.mg-2{margin: 2px !important;}
.mg-3{margin: 3px !important;}
.mg-4{margin: 4px !important;}
.mg-5{margin: 5px !important;}
.mg-10{margin: 10px !important;}
.mg-15{margin: 15px !important;}
.mg-20{margin: 20px !important;}
.mg-25{margin: 25px !important;}
.mg-30{margin: 30px !important;}
.mg-35{margin: 35px !important;}
.mg-40{margin: 40px !important;}
.mg-45{margin: 45px !important;}
.mg-50{margin: 50px !important;}
.mg-60{margin: 60px !important;}
.mg-70{margin: 70px !important;}
.mg-80{margin: 80px !important;}
.mg-90{margin: 90px !important;}
.mg-100{margin: 100px !important;}
.mg-110{margin: 110px !important;}
.mg-120{margin: 120px !important;}
.mg-130{margin: 130px !important;}
.mg-140{margin: 140px !important;}
.mg-150{margin: 150px !important;}
.mg-200{margin: 200px !important;}
.mgt-0{margin-top: 0 !important;}
.mgt-1{margin-top: 1px !important;}
.mgt-2{margin-top: 2px !important;}
.mgt-3{margin-top: 3px !important;}
.mgt-4{margin-top: 4px !important;}
.mgt-5{margin-top: 5px !important;}
.mgt-10{margin-top: 10px !important;}
.mgt-15{margin-top: 15px !important;}
.mgt-20{margin-top: 20px !important;}
.mgt-25{margin-top: 25px !important;}
.mgt-30{margin-top: 30px !important;}
.mgt-35{margin-top: 35px !important;}
.mgt-40{margin-top: 40px !important;}
.mgt-45{margin-top: 45px !important;}
.mgt-50{margin-top: 50px !important;}
.mgt-60{margin-top: 60px !important;}
.mgt-70{margin-top: 70px !important;}
.mgt-80{margin-top: 80px !important;}
.mgt-90{margin-top: 90px !important;}
.mgt-100{margin-top: 100px !important;}
.mgt-110{margin-top: 110px !important;}
.mgt-120{margin-top: 120px !important;}
.mgt-130{margin-top: 130px !important;}
.mgt-140{margin-top: 140px !important;}
.mgt-150{margin-top: 150px !important;}
.mgt-200{margin-top: 200px !important;}
.mgr-0{margin-right: 0 !important;}
.mgr-1{margin-right: 1px !important;}
.mgr-2{margin-right: 2px !important;}
.mgr-3{margin-right: 3px !important;}
.mgr-4{margin-right: 4px !important;}
.mgr-5{margin-right: 5px !important;}
.mgr-10{margin-right: 10px !important;}
.mgr-15{margin-right: 15px !important;}
.mgr-20{margin-right: 20px !important;}
.mgr-25{margin-right: 25px !important;}
.mgr-30{margin-right: 30px !important;}
.mgr-35{margin-right: 35px !important;}
.mgr-40{margin-right: 40px !important;}
.mgr-45{margin-right: 45px !important;}
.mgr-50{margin-right: 50px !important;}
.mgr-60{margin-right: 60px !important;}
.mgr-70{margin-right: 70px !important;}
.mgr-80{margin-right: 80px !important;}
.mgr-90{margin-right: 90px !important;}
.mgr-100{margin-right: 100px !important;}
.mgr-110{margin-right: 110px !important;}
.mgr-120{margin-right: 120px !important;}
.mgr-130{margin-right: 130px !important;}
.mgr-140{margin-right: 140px !important;}
.mgr-150{margin-right: 150px !important;}
.mgr-200{margin-right: 200px !important;}
.mgb-0{margin-bottom: 0 !important;}
.mgb-1{margin-bottom: 1px !important;}
.mgb-2{margin-bottom: 2px !important;}
.mgb-3{margin-bottom: 3px !important;}
.mgb-4{margin-bottom: 4px !important;}
.mgb-5{margin-bottom: 5px !important;}
.mgb-10{margin-bottom: 10px !important;}
.mgb-15{margin-bottom: 15px !important;}
.mgb-20{margin-bottom: 20px !important;}
.mgb-25{margin-bottom: 25px !important;}
.mgb-30{margin-bottom: 30px !important;}
.mgb-35{margin-bottom: 35px !important;}
.mgb-40{margin-bottom: 40px !important;}
.mgb-45{margin-bottom: 45px !important;}
.mgb-50{margin-bottom: 50px !important;}
.mgb-60{margin-bottom: 60px !important;}
.mgb-70{margin-bottom: 70px !important;}
.mgb-80{margin-bottom: 80px !important;}
.mgb-90{margin-bottom: 90px !important;}
.mgb-100{margin-bottom: 100px !important;}
.mgb-110{margin-bottom: 110px !important;}
.mgb-120{margin-bottom: 120px !important;}
.mgb-130{margin-bottom: 130px !important;}
.mgb-140{margin-bottom: 140px !important;}
.mgb-150{margin-bottom: 150px !important;}
.mgb-200{margin-bottom: 200px !important;}
.mgl-0{margin-left: 0 !important;}
.mgl-1{margin-left: 1px !important;}
.mgl-2{margin-left: 2px !important;}
.mgl-3{margin-left: 3px !important;}
.mgl-4{margin-left: 4px !important;}
.mgl-5{margin-left: 5px !important;}
.mgl-10{margin-left: 10px !important;}
.mgl-15{margin-left: 15px !important;}
.mgl-20{margin-left: 20px !important;}
.mgl-25{margin-left: 25px !important;}
.mgl-30{margin-left: 30px !important;}
.mgl-35{margin-left: 35px !important;}
.mgl-40{margin-left: 40px !important;}
.mgl-45{margin-left: 45px !important;}
.mgl-50{margin-left: 50px !important;}
.mgl-60{margin-left: 60px !important;}
.mgl-70{margin-left: 70px !important;}
.mgl-80{margin-left: 80px !important;}
.mgl-90{margin-left: 90px !important;}
.mgl-100{margin-left: 100px !important;}
.mgl-110{margin-left: 110px !important;}
.mgl-120{margin-left: 120px !important;}
.mgl-130{margin-left: 130px !important;}
.mgl-140{margin-left: 140px !important;}
.mgl-150{margin-left: 150px !important;}
.mgl-200{margin-left: 200px !important;}
.mg-auto{margin-left: auto !important; margin-right: auto !important;}

.top-0{top: 0 !important;}
.top-1{top: 1px !important;}
.top-2{top: 2px !important;}
.top-3{top: 3px !important;}
.top-4{top: 4px !important;}
.top-5{top: 5px !important;}
.top-10{top: 10px !important;}
.top-15{top: 15px !important;}
.top-20{top: 20px !important;}
.top-25{top: 25px !important;}
.top-30{top: 30px !important;}
.top-35{top: 35px !important;}
.top-40{top: 40px !important;}
.top-45{top: 45px !important;}
.top-50{top: 50px !important;}
.rit-0{right: 0 !important;}
.rit-1{right: 1px !important;}
.rit-2{right: 2px !important;}
.rit-3{right: 3px !important;}
.rit-4{right: 4px !important;}
.rit-5{right: 5px !important;}
.rit-10{right: 10px !important;}
.rit-15{right: 15px !important;}
.rit-20{right: 20px !important;}
.rit-25{right: 25px !important;}
.rit-30{right: 30px !important;}
.rit-35{right: 35px !important;}
.rit-40{right: 40px !important;}
.rit-45{right: 45px !important;}
.rit-50{right: 50px !important;}
.btm-0{bottom: 0 !important;}
.btm-1{bottom: 1px !important;}
.btm-2{bottom: 2px !important;}
.btm-3{bottom: 3px !important;}
.btm-4{bottom: 4px !important;}
.btm-5{bottom: 5px !important;}
.btm-10{bottom: 10px !important;}
.btm-15{bottom: 15px !important;}
.btm-20{bottom: 20px !important;}
.btm-25{bottom: 25px !important;}
.btm-30{bottom: 30px !important;}
.btm-35{bottom: 35px !important;}
.btm-40{bottom: 40px !important;}
.btm-45{bottom: 45px !important;}
.btm-50{bottom: 50px !important;}
.lft-0{left: 0 !important;}
.lft-1{left: 1px !important;}
.lft-2{left: 2px !important;}
.lft-3{left: 3px !important;}
.lft-4{left: 4px !important;}
.lft-5{left: 5px !important;}
.lft-10{left: 10px !important;}
.lft-15{left: 15px !important;}
.lft-20{left: 20px !important;}
.lft-25{left: 25px !important;}
.lft-30{left: 30px !important;}
.lft-35{left: 35px !important;}
.lft-40{left: 40px !important;}
.lft-45{left: 45px !important;}
.lft-50{left: 50px !important;}

.brdr-0{border: 0 !important;}
.brdr-1{border: 1px solid !important;}
.brdr-2{border: 2px solid !important;}
.brdr-3{border: 3px solid !important;}
.brdr-4{border: 4px solid !important;}
.brdr-5{border: 5px solid !important;}
.brdr-top-0{border-top: 0 !important;}
.brdr-top-1{border-top: 1px solid !important;}
.brdr-top-2{border-top: 2px solid !important;}
.brdr-top-3{border-top: 3px solid !important;}
.brdr-top-4{border-top: 4px solid !important;}
.brdr-top-5{border-top: 5px solid !important;}
.brdr-right-0{border-right: 0 !important;}
.brdr-right-1{border-right: 1px solid !important;}
.brdr-right-2{border-right: 2px solid !important;}
.brdr-right-3{border-right: 3px solid !important;}
.brdr-right-4{border-right: 4px solid !important;}
.brdr-right-5{border-right: 5px solid !important;}
.brdr-bottom-0{border-bottom: 0 !important;}
.brdr-bottom-1{border-bottom: 1px solid !important;}
.brdr-bottom-2{border-bottom: 2px solid !important;}
.brdr-bottom-3{border-bottom: 3px solid !important;}
.brdr-bottom-4{border-bottom: 4px solid !important;}
.brdr-bottom-5{border-bottom: 5px solid !important;}
.brdr-left-0{border-left: 0 !important;}
.brdr-left-1{border-left: 1px solid !important;}
.brdr-left-2{border-left: 2px solid !important;}
.brdr-left-3{border-left: 3px solid !important;}
.brdr-left-4{border-left: 4px solid !important;}
.brdr-left-5{border-left: 5px solid !important;}

.br-1{
	-webkit-border-radius: 1px !important;
	-moz-border-radius: 1px !important;
	border-radius: 1px !important;
}
.br-2{
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}
.br-3{
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}
.br-4{
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
.br-5{
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}
.br-10{
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}
.br-round{
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.trans-03{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.trans-04{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.trans-05{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.thumb-30{width: 30px !important;}
.thumb-40{width: 40px !important;}
.thumb-50{width: 50px !important;}
.thumb-60{width: 60px !important;}
.thumb-70{width: 70px !important;}
.thumb-80{width: 80px !important;}
.thumb-90{width: 90px !important;}
.thumb-100{width: 100px !important;}
.thumb-120{width: 120px !important;}
.thumb-150{width: 150px !important;}

.clearfix::after{
	clear: both;
	display: block;
	content: '.';
	height: 0;
	visibility: hidden;
}

.syntaxhighlighter{
    padding: 15px 0;
    margin: 25px 0 0 0 !important;
}

html, body{
	height: 100%;
	line-height: 1;
	font-family: 'Open Sans', 'Sans Serif' !important;
    background-color: #ffffff !important;
    color: #888888 !important;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*::after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main{
	display: block;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 5px 0;
	font-family: 'Montserrat', 'Open Sans', 'Snas Serif';
	line-height: 1.5;
	text-transform: uppercase;
    color: #555555 !important;
}

h1{
	font-size: 36px;
	letter-spacing: 5px;
	font-weight: 700;
}

h2{
	font-size: 24px;
	letter-spacing: 3px;
	font-weight: 700;
}

h3{
	font-size: 20px;
	letter-spacing: 2px;
}

h4{
	font-size: 16px;
	letter-spacing: 2px;
}

h5{
	font-size: 14px;
	letter-spacing: 1px;
}

h6{
	font-size: 12px;
	letter-spacing: 1px;
}

p{
	font-size: 15px;
	line-height: 26px;
	font-weight: 400;
	margin-bottom: 0;
}

a{
    color: #F64747;
	text-decoration: none !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

a:hover{
    color: #F64747;
}

p a:hover{
	text-decoration: underline !important;
}

p span{
    display: inline-block;
    background-color: #F2F2F2;
    color: #F64747;
    padding: 0 7px;
    line-height: 1.4;
    border: 1px solid #E0E0E0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

p span.alt{
    background-color: #F64747;
    color: #FFFFFF;
    border: 1px solid #F64747;
}

img{
	width: auto;
	height: 100%;
	vertical-align: bottom;
}

p img{
	margin: 25px 0;
}

blockquote{
	padding: 10px 20px;
	line-height: 28px;
	margin: 30px 10px;
	font-size: 18px;
	border-left: 5px solid;
}

ol, ul{
	margin: 0;
	list-style: none;
}

ol li, ul li{
	font-size: 15px;
	line-height: 2;
}

ol li li, ul li li{
	padding-left: 25px;
}

:disabled{
	opacity: 0.8;
	cursor: not-allowed !important;
}

.separator{
	display: block;
	width: 100%;
	padding: 0;
	margin: 10px 0;
    background-color: #E0E0E0;
}

.separator-1{
	height: 1px;
}

.separator-2{
	height: 2px;
}

.separator-3{
	height: 3px;
}

.dark-section{
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.title-divider::after{
	display: block;
	content: '';
	width: 50px;
	height: 1px;
    background-color: #F64747 !important;
}

.vertical-center{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.bg-colored{
    background-color: #F64747 !important;
}

.bg-dark{
    background-color: #F6F6F6 !important;
}

.text-clr-chng:hover{
    color: #F64747 !important;
}

.text-normal{
    color: #888888 !important;
}

.text-dark{
    color: #555555 !important;
}

.text-darker{
    color: #333333 !important;
}

.right-side > div.mgl{
	margin-left: 300px;
}

.text-colored,
.text-colored *{
    color: #F64747 !important;
}

.brdr-normal{
    border-color: #E0E0E0 !important;
}

.brdr-colored{
    border-color: #F64747 !important;
}

pre.doc-code{
    text-align: left;
    padding: 25px;
    font-size: 14px;
    line-height: 20px;
    background-color: #F8F8F8;
    border: 1px solid #E6E6E6;
}

.left-side{
    width: 300px;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.site-heading{
    background-color: rgba(0, 0, 0, 0.05);
}

.main-nav ul li a{
    display: block;
    line-height: 40px;
    padding-right: 15px;
    text-transform: uppercase;
    color: #555555;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom: 1px solid #E0E0E0;
}

.main-nav ul li a:hover{
    background-color: #F64747;
    color: #ffffff;
}

.main-nav ul li a.active-section{
    background-color: #F64747;
    color: #ffffff;
}

.right-side{
    margin-left: 300px;
    padding: 0 50px;
}

.section-item-data ul li{
    font-size: 13px;
    text-transform: uppercase;
    line-height: 30px;
    color: #555555;
}

.section-item-data ul li span:first-of-type{
    display: inline-block;
    width: 200px;
}

.section-item-data ul li a{
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
}

.section-item-data ul li a:hover{
    text-decoration: underline !important;
}

.social-link span{
	display: inline-block;
	text-align: center;
	font-size: 16px;
	width: 30px !important;
	height: 30px !important;
	line-height: 30px;
	background: #F64747;
	color: #ffffff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.footer-section{
	padding: 70px 0;
	text-align: center;
	margin-top: 100px;
	margin-left: 300px;
	background-color: #F2F2F2;
	border-top: 1px solid #E0E0E0;
}
